<template>
  <div id='deposit' >
        <h5 class='order'></h5>
        <!--{{ (selectedItems) }}-->
        <div class='items-select' v-infinite-scroll="loadMore" infinite-scroll-disabled="busyLoading">
          
          <v-container class='items' fluid grid-list-sm d-flex >
            
            <v-layout row wrap>
                          
        <div v-if='busyLoading' style='position:absolute;margin-top: 210px; z-index: 3; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;'><v-progress-circular
      indeterminate
      color="#fcba03"
        ></v-progress-circular></div>
              <!--|------------------| 12, ->!-->
              <v-flex
                v-for="(card) in cards"
                :key="card.hash_name" 
                xs6
                lg2
                md3
                sm4
              >
                <v-card @click='addItemToCart(card)' style='background-color: rgba(131, 102, 150, 0.2) !important; color: white !important; '>
                  <div v-if='selectedItems[card.hash_name] && selectedItems[card.hash_name].selected > 0' class='overlay-item'>
                      <div>
                          - {{ selectedItems[card.hash_name].selected }}/{{selectedItems[card.hash_name].count}} - 

                          <!-- TO DO: Add Plus and Minus buttons -->

                      </div>
                  </div>
                  
                  <div class='amount'>{{ card.count }}</div>
                  <div class='inv'>
                    <center>
                    <v-img
                    :src="card.icon"
                    class="white--text align-end inv-img"
                    width='130px'
                    contain
                  >
                  </v-img>
                    </center>
                  </div>
                  

                  <v-card-actions>
                  <h5 style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>{{ card.hash_name}}</h5>
                    <v-spacer></v-spacer>
                    <h2>{{ card.price }}</h2>
                    
                    
                  </v-card-actions>
                </v-card>
              </v-flex>

              <v-flex
                v-for="(ra) in repeatMain"
                :key="ra + '_select'"
                v-show='busyLoading'
                xs6
                lg2
                md3
                sm4
              >
                <v-card style='background-color: rgba(131, 102, 150, 0.2) !important; color: white !important; '>                  
                  <div class='amount'></div>
                  <div class='inv'>
                    <center>
                    <v-img
                    :src="''"
                    class="white--text align-end inv-img"
                    width='150px'
                  >
                  </v-img>
                    </center>
                  </div>
                  

                  <v-card-actions>
                  <h5></h5>
                    <v-spacer></v-spacer>
                    <h2></h2>
                    
                    
                  </v-card-actions>
                </v-card>
              </v-flex>
              
            </v-layout>
          </v-container>
        </div>

        <h2>{{selectedItemsTotalPrice}}<v-icon small color="#f1da68" >mdi-trophy-award</v-icon> ({{ selectedItemsCount }}) Select items you want to exchange</h2>
        
        <div class='items-selected'>
          
          <v-container class='items' fluid grid-list-sm d-flex >
            <v-layout row wrap>
              <v-flex
                v-for="(item, key) in selectedItems"
                :key='key + "_seleced"'
                xs6
                lg2
                md3
                sm4
                
                >
                
                <v-card @click='addItemToCart(item, 4)' style='background-color: rgba(131, 102, 150, 0.2) !important; color: white !important; '>
                  <div class='amount'>{{ item.selected }}</div>
                  <div class='inv'>
                    <center>
                    <v-img
                    :src="item.icon"
                    class="white--text align-end inv-img"
                    width='150px'
                  >
                  </v-img>
                    </center>
                  </div>
                  

                  <v-card-actions>
                  <h5 style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>{{ key }}</h5>
                    <v-spacer></v-spacer>
                    <h2>{{ item.price }}</h2>
                    
                    
                  </v-card-actions>
                </v-card>
              </v-flex>

              <v-flex
                v-for="(index) in repeat"
                :key='index'
                xs6
                lg2
                md3
                sm4>
                
                
                <v-card style='background-color: rgba(131, 102, 150, 0.2) !important; color: white !important; '>
                  <div class='amount'></div>
                  <div class='inv'>
                    <center>
                    <v-img
                    :src="''"
                    class="white--text align-end inv-img"
                    width='150px'
                  >
                  </v-img>
                    </center>
                  </div>
                  

                  <v-card-actions>
                  <h5></h5>
                    <v-spacer></v-spacer>
                    <h2></h2>
                    
                    
                  </v-card-actions>
                </v-card>
              </v-flex>

              </v-layout>
              </v-container>
              </div>

              <v-btn x-large id='exchange' @click='sendOffer()'><span style='display: block;  word-break: keep-all; text-align: center;'>Exchange {{ selectedItemsCount }} items</span></v-btn>
              
          
    </div>

</template>

<script>
import Menu from '../components/Menu';
import infiniteScroll from 'vue-infinite-scroll'

import axios from 'axios';

const maxInv = 100;

export default {
  components: {
    Menu
  },
  directives: {infiniteScroll},
  data: () => ({
      cards: [
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
        {},
      ],
      busyLoading: true,
      lastAssetid: null,
      addedLoading: 0, //If loading and cards % 4
      selectedItems: {},
      done: false,

   }),
   mounted() {
       this.getInv();
       
       /*
       const headers = {
            'Content-Type': 'application/json',
            'Authorization': this.$store.state.token
        }
        
       axios.post('http://localhost:3000/deposit/checkStatus', JSON.stringify({ offerid: "4176690564" }), { headers }).then(ans => {
         console.log(ans);
       });*/
   },
   computed: {
     repeat () {
       let max = 6;
       if(this.$store.state.windowWidth > 1263) {
         max = 6;
       }else if(this.$store.state.windowWidth <= 1263 && this.$store.state.windowWidth > 959) {
         max = 4;
       }
       else if(this.$store.state.windowWidth >= 600) {
         max = 3;
       }else {
         max = 2;
       }
        let val = max - (Object.keys(this.selectedItems).length % max);
			  return val;
      },
      repeatMain() {
        let max = 6;
        if(this.$store.state.windowWidth > 1137) {
          max = 6;
        }else if(this.$store.state.windowWidth >= 540) {
          max = 4;
        }else {
          max = 2;
        }

          let val = max - (this.cards.length % max);
			    return val;
      },
      selectedItemsCount() {
        let count = 0;
        for(let i in this.selectedItems) {
          if(this.selectedItems[i])
            count += this.selectedItems[i].selected;
        }
        return count;
      },
      selectedItemsTotalPrice() {
        let count = 0;
        for(let i in this.selectedItems) {
          if(this.selectedItems[i])
            count += this.selectedItems[i].price;
        }
        return count;
      }
   },

   methods: {
     sendOffer() {
       console.log(this.selectedItems);

       const headers = {
            'Content-Type': 'application/json',
            'Authorization': this.$store.state.token
        }
        
       axios.post('http://localhost:3000/deposit/', JSON.stringify({inv: this.selectedItems }), { headers }).then(ans => {
         if(ans.data.success) {
           this.$notify({
                    group: 'foo',
                    text: ans.data.message,
                    type: 'success'
            });
           this.$store.commit('setLoadingTrade', ans.data.offerid);
         }else {
            this.$notify({
                    group: 'foo',
                    text: ans.data.message,
                    type: 'error'
            });
         }
       });
     },
     addItemToCart(card, action=1) { //Action: 1 => Add 1 element, 2 => Remove 1 element, 3 => Add ALL, 4 => RemoveAll
        if(!this.selectedItems[card.hash_name]) {
          this.$set( this.selectedItems, card.hash_name, {'selected': 1, 'count': card.count, 'price': card.price, 'icon': card.icon, 'hash_name': card.hash_name})
          return;
        }

        if((this.selectedItems[card.hash_name].count == this.selectedItems[card.hash_name].selected) || (action === 2 && this.selectedItems[card.hash_name].selected - 1 <= 0)) { //Remove ALL
            action = 4;
        }
        
        switch(action) {
          case 1:
            this.selectedItems[card.hash_name].selected++;
            break;
          case 2:
            this.selectedItems[card.hash_name].selected--;
            break;
          case 3:
            this.selectedItems[card.hash_name].selected = card.count;
            break;
          case 4:
            this.$delete(this.selectedItems, card.hash_name)

            //this.selectedItems[card.hash_name] = undefined;
            break;
        }
        if(action != 4) {
          this.selectedItems[card.hash_name].price = card.price * this.selectedItems[card.hash_name].selected;
        }

     },
     loadMore() {
       if(this.done) {
          return;
       }
        
       console.log('Loading more..');

       this.busyLoading = true;
       
       this.getInv(false);
     },
       getInv(init = true) {
          let url = `http://steamcommunity.com/inventory/${this.$store.state.steamid}/730/2?l=english&count=${maxInv}`;

          if(!init && this.lastAssetid != null)
            url += `&start_assetid=${this.lastAssetid}`;

           axios.get(url).then(ans => {
               console.log(ans);
               let assets = ans.data.assets;
               let desc = ans.data.descriptions;
                
                if(assets == undefined || desc == undefined) {
                  this.done = true;
                  this.busyLoading = false;
                  return;
                }
               let counts = {}; //Hash name -> occurrences

                for (let i = 0; i < assets.length; i++) {
                    let classid = assets[i].classid;
                    counts[classid] = counts[classid] ? counts[classid] + 1 : 1;
                }

                //console.log(desc);

                let arr = [];
                for(let i = 0; i < desc.length ; i++) {
                  
                  if(desc[i].tradable == 1)
                    arr.push({'hash_name': desc[i].market_hash_name, 'count': counts[desc[i].classid], 'icon': `https://steamcommunity-a.akamaihd.net/economy/image/${desc[i].icon_url}`});
                }

                axios.post(`http://localhost:3000/deposit/inv`, JSON.stringify({inv: arr}), { headers: { 'Content-Type': 'application/json' }}).then(res => {
                  if(init)
                    this.cards = res.data.inv;
                  else {
                      let flag = false;
                      for(let i in res.data.inv){
                        flag = false;
                          for(let j in this.cards) {
                              if(res.data.inv[i].hash_name == this.cards[j].hash_name)
                              {
                                flag = true;
                                this.cards[j].count += res.data.inv[i].count;
                                break;
                              }
                          }

                          if(!flag) {
                            this.cards.push(res.data.inv[i]);
                          }

                          if(this.selectedItems[res.data.inv[i].hash_name]) {
                            this.selectedItems[res.data.inv[i].hash_name].count += res.data.inv[i].count;
                          }
                      } 
                  }

                  
                    

                  this.lastAssetid = assets[assets.length - 1].assetid;
                  console.log(`last asset id: ${this.lastAssetid}`);
                  this.busyLoading = false;

                  //console.log(res);
                });
                //console.log(arr);

           })
       }
   }
}
</script>

<style scoped lang="scss">
#exchange {
  background: linear-gradient(253.3deg,#4b55f5 0,#7556f5 100%) !important; 
  color: white !important;
  margin-top: 20px;
}
.overlay-item {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  position: absolute; width: 100%; height: 100%; background-color: rgba(153, 222, 126, 0.8); z-index: 2;
  padding-top: 90px;
  font-size: 30px;
}

.items-selected {
  height: 260px;
  width: 100%;
  
  overflow-y: scroll;
  overflow-x: hidden;
}

.items-select {
  height: 520px;
  width: 100%;
  
  overflow-y: scroll;
  overflow-x: hidden;
}
.amount {
  float: left;
  position: absolute;
  margin: 10px;
}
.inv-img {
  padding-top: 20px;
}
.inv {
  height: 200px !important;
  padding-top: 40px;
}

#deposit
{
    color: #7e7f82 !important;
}
.order {
    float: right;
    margin-right: 120px;
    margin-top: 10vh;
}
.items-select::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.items-select::-webkit-scrollbar-track {
  background: rgba(86, 52, 125, 0.5);        /* color of the tracking area */
  border-radius: 50px;
}
.items-select::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(86, 52, 125);  /* creates padding around scroll thumb */
}

.items-selected::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.items-selected::-webkit-scrollbar-track {
  background: rgba(86, 52, 125, 0.5);        /* color of the tracking area */
  border-radius: 50px;
}
.items-selected::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(86, 52, 125);  /* creates padding around scroll thumb */
}

</style>
