<template>
  <div class="login">
    <v-container fluid >
      <center>
      <v-layout style="width: 60%;">
          <v-flex xs4 style="background-color: #ffffff; height: 500px; max-width: 300px;" class="border-design">
            <div class="left">
                 <img src="@/assets/login-logo.png" class="logo"/>
                  <h2 class="text-logo">PICK YOUR SPOT</h2>
                  <p>Just click below</p>
                    <div class="steam-icon-wrapper">
                      <img  src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/steamworks_docs/english/sits_small.png" @click='steamLogin'/>
                    </div>

                  

                  <p style="font-size: 13px;">- OR -</p>
            </div>
              <v-layout style="width: 100%;">
              <v-flex xs6 class="signin" v-bind:style='action === 0 ? "background-color: rgba(245,228,140,0.1);" : ""' @click='switchAction(0)'>
                <h2>SIGN<br>IN</h2>
              </v-flex>
              <v-flex xs6 class="signup" v-bind:style='action !== 1 ? "background-color: rgba(154,135,253,0.1);" : ""' @click='switchAction(1)'>
                <h2>SIGN<br>UP</h2>
              </v-flex>
              </v-layout>
          </v-flex>
          <div class="space-two"></div>
          <v-flex xs7 style="height: 500px; background-color: white;" class="border-design">
            <!-- Left(Sign in) -->
            <div v-show="action === 0" class="action">
              
                <h1 class="action-header">Sign in</h1>
                <div class="form-custom">
                  <div v-if="!loginSuccess">
                    <v-text-field label="Email" v-model="email" filled rounded></v-text-field>
                    <v-text-field label="Password" v-model="password" filled rounded :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"></v-text-field>
                    <p class="forgot">Forgot password?</p>
                    <v-btn color="#57b846" rounded style="margin-top: 30px; position: absolute; color: white;" large @click='login'>Login</v-btn>
                    <p class="forgot" style="margin-top: 120px; float: none; cursor: pointer;" @click='switchAction(1)'>Don't have an account?</p>
                  </div>

                  <div v-else>
                    <div class="success-checkmark" style="margin-top: 150px;">
                      <div class="check-icon">
                        <span class="icon-line line-tip"></span>
                        <span class="icon-line line-long"></span>
                        <div class="icon-circle"></div>
                        <div class="icon-fix"></div>
                      </div>
                    </div>
                  </div>
              </div>

            </div>
            <!-- Right(Sign up) -->
            <div v-show="action !== 0" class="action">
              <h1 class="action-header">Sign Up</h1>
              <step-progress :fields="progress" class="custom-progress"></step-progress>
              <div class="form-custom" style="margin-top: 110px !important">
                
                <div v-if='progressNum === 1'>                  
                  <v-text-field label="Email" v-model="remail" filled rounded></v-text-field>
                  <v-text-field label="Password" v-model="rpassword" filled rounded :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"></v-text-field>
                  <v-text-field label="Repeat Password" v-model="rrpassword" filled rounded :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'" :type="show2 ? 'text' : 'password'" @click:append="show2 = !show2"></v-text-field>
                  <v-btn rounded style="margin-top: 30px; float: right;" @click='progressFunction(1)'>Next</v-btn>
                  <v-btn rounded style="margin-top: 30px; float: left;" @click='progressFunction(-1)' disabled>Back</v-btn>
                </div>
                
                <div v-else-if="progressNum === 2" style="margin-top: 140px;">
                    <v-text-field label="Username" v-model="username" filled rounded hint="Other users will be able to see this"></v-text-field>
              

                  <div style="position: absolute; width: 300px">
                    <v-btn color="#57b846" rounded style="margin-top: 90px; float: right; color: white;" @click='register'>Submit</v-btn>
                    <v-btn rounded style="margin-top: 90px; float: left;" @click='progressFunction(-1)'>Back</v-btn>
                  </div>

                </div>

                <div v-else-if='progressNum === 3'>
                  <div class="success-checkmark" style="margin-top: 155px;">
                    <div class="check-icon">
                      <span class="icon-line line-tip"></span>
                      <span class="icon-line line-long"></span>
                      <div class="icon-circle"></div>
                      <div class="icon-fix"></div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </v-flex>

      </v-layout>
      </center>
    </v-container>
    
  </div>
</template>

<script>
import axios from 'axios';
import stepProgress from '../components/stepProgessSlider';
import vSelect from 'vue-select'
import "vue-select/dist/vue-select.css";
import router from '../router/index';
import GoogleSignInButton from 'vue-google-signin-button-directive'

export default {
  name: 'Login',
  components:{stepProgress, vSelect},
  directives: {
    GoogleSignInButton
  },
  data() {
    return {
      clientId: '647115761678-9i3g0nl51fveuhvc690o21fotp7q2fk3.apps.googleusercontent.com',

      action: 0, //0 = signin, 1 = signup
      firstTime: true,

      show1: false,
      show2: false,

      email: '',
      password: '',
      loginSuccess: false,

      remail: '', //register email
      rpassword: '', //register password
      rrpassword: '', //register repeat password
      username: '',
      
      progress: [{'active': true, 'text': ''}, {'active': false, 'text': ''}, {'active': false, 'text': ''}],
      progressNum: 1,

    };
  },
  mounted() {
    window.steam = (str) => {
      let ans = JSON.parse(str);
      console.log(ans);
      
      if(ans.success){
          this.$store.commit('setToken', ans.token);
          this.$store.commit('setUsername', ans.username);
          this.$store.commit('setAvatar', ans.avatar);
          this.$store.commit('setSteamID', ans.steamid);

          if(ans.notification) {
                this.$notify({
                  group: 'foo',
                  text: ans.notification,
                  type: 'error',
                  duration: -1
                });
            }

          this.loginSuccess = true;

          setTimeout(() => {
            router.push({ name: "Poker" });
          }, 1000);

      }else{
        this.$notify({
                group: 'foo',
                text: ans.error ? ans.error : 'Error, please try again later..',
                type: 'error',
        });

      }
    
    }

    if(this.$route.query.loggedIn !== undefined && !this.$route.query.loggedIn)
      this.$notify({
          group: 'foo',
          text: 'You are not logged on',
          type: 'error',
        });
  },
  methods: {
    steamLogin () {
      let url = 'https://steamcommunity.com/openid/login?openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=checkid_setup&openid.return_to=http://localhost:3000/users/steam_login&openid.realm=http://localhost:3000&openid.ns.sreg=http%3A%2F%2Fopenid.net%2Fextensions%2Fsreg%2F1.1&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select';

      //let url = `https://steamcommunity.com/openid/login?openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F1.0&openid.ns.sreg=http%3A%2F%2Fopenid.net%2Fextensions%2Fsreg%2F1.1&openid.sreg.optional=nickname%2Cemail%2Cfullname%2Cdob%2Cgender%2Cpostcode%2Ccountry%2Clanguage%2Ctimezone&openid.ns.ax=http%3A%2F%2Fopenid.net%2Fsrv%2Fax%2F1.0&openid.ax.mode=fetch_request&openid.ax.type.fullname=http%3A%2F%2Faxschema.org%2FnamePerson&openid.ax.type.firstname=http%3A%2F%2Faxschema.org%2FnamePerson%2Ffirst&openid.ax.type.lastname=http%3A%2F%2Faxschema.org%2FnamePerson%2Flast&openid.ax.type.email=http%3A%2F%2Faxschema.org%2Fcontact%2Femail&openid.ax.required=fullname%2Cfirstname%2Clastname%2Cemail&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.return_to=http:\\localhost:3000/users/steam_login&openid.realm=http:\\localhost:3000`;
      window.open(url, "myWindow", "width=1000,height=700");

    },
    login() {
      let errors = [];
      if(this.email.trim().length < 5) 
        errors.push('Bad email');
      if(this.password.trim().length < 5) 
        errors.push('Bad password');
      
      if(errors.length > 0){
        this.$notify({
                group: 'foo',
                text: errors.join(', '),
                type: 'error'
        });
        return
      }

      let data = JSON.stringify({
          email: this.email,
          password: this.password,
      });

      axios.post('http://localhost:3000/users/login', data, { headers: { 'Content-Type': 'application/json' }}).then( ans => {
        ans = ans.data;
        if(ans.success){
            this.$store.commit('setToken', ans.token);
            this.$store.commit('setUsername', ans.username);
            this.$store.commit('setAvatar', ans.avatar);
            this.$store.commit('setSteamID', ans.steamid);
              
            if(ans.notification) {
                this.$notify({
                  group: 'foo',
                  text: ans.notification,
                  type: 'error',
                  duration: -1
                });
            }
            
            
            this.loginSuccess = true;
            setTimeout(() => {
              router.push({ name: "Chat" });
            }, 1000);
        }else{
          this.$notify({
                  group: 'foo',
                  text: ans.message,
                  type: 'error'
          });

        }
      });


    },
    register() {
        let errors = [];

        if(this.remail.trim().length < 5) 
          errors.push('Bad email');
        if(this.rpassword.trim().length < 5) 
          errors.push('Bad password');
        if(this.rpassword != this.rrpassword) 
          errors.push('Passwords dont match');
        if(this.username.trim().length < 4)
          errors.push('Bad username');

        if(errors.length > 0){
          this.$notify({
                  group: 'foo',
                  text: errors.join(', '),
                  type: 'error'
          });
          return
        }

        let data = JSON.stringify({
          email: this.remail,
          password: this.rpassword,
          username: this.username,
        });

        axios.post('http://localhost:3000/users/register', data, { headers: { 'Content-Type': 'application/json' }}).then( (ans) => {
            ans = ans.data;
            if(ans.success)
            {
              this.$store.commit('setToken', ans.token);
              this.$store.commit('setUsername', ans.username);
              
              if(ans.notification) {
                this.$notify({
                  group: 'foo',
                  text: ans.notification,
                  type: 'error',
                  duration: -1
                });
            }
              this.progressNum++;
              this.progress[this.progressNum - 1].active = true;

              setTimeout(() => {
                router.push({ name: "Chat" });
              }, 1000);

            }else{
              this.$notify({
                  group: 'foo',
                  text: ans.message,
                  type: 'error'
              });
            }
            
        }).catch(err => {
            this.$notify({
                  group: 'foo',
                  text: 'Unknown eror',
                  type: 'error'
          });
        });

          

    },
    progressFunction(action) { //action = 1 or -1, 1 = Forward, -1 = Backward
        if(this.progress.length > (this.progressNum + action) && this.progressNum + action > 0) {
          this.progressNum += action;
          if(action === -1)
            this.progress[this.progressNum].active = false;
          else
            this.progress[this.progressNum - 1].active = true;
        }
    },
    switchAction(act) {
      this.action = act;
    }
  },
  computed: {
    getToken() {
      //console.log(this.$store);
        return this.$store.state.token;
    }
  }
};
</script>


<style>
.vs__dropdown-toggle {
  border-radius: 25px !important;
  background-color: #f4f4f4 !important;
  height: 50px !important;
  padding-left: 20px !important;
  border-color: transparent;
}
</style>

<!-- Success Animation -->
<style>
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4CAF50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: #FFFFFF;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #FFFFFF;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
</style>

<style scoped>
.space-two {
  width: 20px;
}
.action-header {
  color: #3b2b67 !important;
  margin-top: 10px;
}
.forgot {
  float: right;
  font-size: 13px;
  margin-top: -7px;
}
.form-custom {
  margin-top: 80px;
  width: 300px;
}
.action {
  margin-top: 20px;
}

.signin:hover, .signup:hover {
  opacity: 0.8;
}
.signup {
  color: #f5e48c !important;
  border-radius:15px 15px 15px 0px;
}
.signin {
  color: #9a87fd !important;
  border-radius:15px 0px 0px 15px;
}
.signin, .signup {
  color: white;
  height: 235px; margin-top: -45%; z-index: 1; padding-top: 50%;
  cursor: pointer;
}


.steam-icon-wrapper {
  margin-top: 25px;
  margin-bottom: 60px;

}

.steam-icon-wrapper:hover {
  opacity: 0.8;
}
.steam-icon-wrapper:active {
  opacity: 0.8;
}

.text-logo  {
  margin-top: 20px;
  margin-bottom: 10px;
}

.logo {
  width: 190px;
  margin-top: 30px;
  margin-left: 10px;
}
.border-design {
  border-radius:15px 15px 15px 15px;
}

.left {
  position: relative;
  color: white;
  height: 400px;
  background-color: #3b2b67;
  z-index:4;
  border-radius:15px 15px 200px 200px;

}
.login {
  background: #f2f2f2 !important;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 5%;
}
</style>