<template>
  <div>

                <center>
                    <div class="last-winners" style="width: 700px; height: 70px;">
                        <div style="float: left; margin-left: 30px; margin-top: 10px; color: white; display: flex;" >
                            <div class="circle tooltip" v-for="(obj, index) in last_wins" :key='index' v-bind:style="'border-color: ' + getColor(obj) + ';'" role="img" alt="heart">
                                <span class="tooltiptext">Won <span v-bind:style="'color: ' + getColor(obj) + ';'">{{ obj }}</span>!</span>
                            </div>
                        </div>

                        
                    </div>
                    <div class="last-winners-details">Last Wins</div>
                </center>
                <center v-on:dragover="dragHandler($event)">
                    <div style="width: 80%; background-color: #21242e; height: 500px; border-radius: 25px">
                        <center>
                            <div>
                                <v-img src="~@/assets/slots-background.png" id="slots">

                                <v-img src="~@/assets/stick.png" id="stick" @dragstart="drag($event)" v-bind:style='"transform: rotate(" + rotate + "deg);"'/>

                                <v-layout style="width: 400px; position:absolute; margin-top: 90px; margin-left: -200px;">
                                    <v-flex xs4>
                                        <div class="slot" id="first">
                                            <div>
                                                <span class="item">{{ first }}</span>
                                            </div>
                                        </div>
                                    </v-flex>
                                    <v-flex xs4>
                                        <div class="slot" id="second">
                                            <div>
                                                <span class="item">{{ second }}</span>
                                            </div>
                                        </div>
                                    </v-flex>
                                    <v-flex xs4>
                                        <div class="slot" id="third">
                                            <div>
                                                <span class="item">{{ third }}</span>
                                            </div>
                                        </div>
                                    </v-flex>
                                </v-layout>
                                </v-img>
                            </div>
                            <div style="margin-top: 20px; color: white;">
                                <v-layout>
                                    <v-flex xs5>
                                        <div id="slots-explination">
                                             <v-layout>
                                                <v-flex xs4>
                                                    <div class="slot-e">
                                                        <div>
                                                            <span class="item-e">{{ first }}</span>
                                                        </div>
                                                    </div>
                                                </v-flex>
                                                <v-flex xs4>
                                                    <div class="slot-e">
                                                        <div>
                                                            <span class="item-e">{{ second }}</span>
                                                        </div>
                                                    </div>
                                                </v-flex>
                                                <v-flex xs4>
                                                    <div class="slot-e">
                                                        <div>
                                                            <span class="item-e">{{ third }}</span>
                                                        </div>
                                                    </div>
                                                </v-flex>
                                            </v-layout>
                                        </div>
                                        <h2>Combination</h2>
                                        <h2 style="margin-top: 8px;" v-if="win">Gives You <span style="color: #f1da68">{{ won > 0 ? won : this.betValue * 60}}</span> Coins</h2>
                                        <h2 style="margin-top: 8px; line-height: 35px;" v-else-if="almostWon > 0">Almost Won <span style="color: #f1da68">{{ almostWon }}</span> Coins<br/> Try Again!</h2>
                                        <h2 style="margin-top: 8px; line-height: 35px;" v-else>Try Again, To Earn More <span style="color: #f1da68">Coins</span> </h2>
                                    </v-flex>
                                    <v-flex xs2>
                                        <v-img src="~@/assets/button-background.png" style="width: 165px; height: 165px; margin-top: 40px; ">
                                            <div style="width: 165px; height: 165px; margin-top: 52px;justify-content: center; align-items: center;">
                                                                                                <h4>+25<span style="color: #f8a058; font-size: 11px;">%</span></h4>

                                                <h1 style="color: #fff1ad">{{ betValue }}</h1>
                                            </div>

                                            
                                        </v-img>
                                        <v-btn color="#f8a058" rounded style="width: 165px; margin-top: -10px;" @click="send" >Bet Again</v-btn>
                                    </v-flex>
                                    <v-flex xs5>
                                        <v-img src="~@/assets/casino-roulette.png" style="width: 80px; margin-bottom: 15px;"></v-img>
                                        <h3 style="line-height: 35px;">For <span class="special-text-color">BIGGER</span> Number Combination <br/> <span style="font-size: 24px; "> You Will Get <span class="special-text-color">MORE</span> Coins </span></h3>
                                    </v-flex>

                                </v-layout>
                            </div>
                        </center>
                    </div>
                </center>

                <center>
                    <div id="change-bet">
                        <h4 style="margin: 20px; margin-left: 30px; color: ">Change <span class="special-text-color">Bet</span>:</h4> <span style="width: 135px; margin-top: 10px;"><v-text-field readonly filled rounded dense outlined v-model="betValue"  dark  append-outer-icon="mdi-plus" @click:append-outer="increment" prepend-icon="mdi-minus" @click:prepend="decrement"></v-text-field></span>
                        <h5 style="margin-left: 10px; margin-top: 23px; color: #f1da68;">Coins</h5>
                    </div>
                </center>
            </div>
        

</template>

<script>
import axios from 'axios';
import router from '../router/index';


const startRotate = 30;
const endRotate = 90;

export default {
  name: 'Slots',
  components: {
  },
  mounted() {
      this.getLastWins();
      window.setInterval(() => {
          if(!this.last_bet || Math.abs(new Date() - this.last_bet) > 1000 * 60 * 2) {
              console.log('Got it again..');
                this.last_bet = new Date();
                this.getLastWins();
          } //2 Minutes
      }, 1000 * 60 * 3); //3 Minutes
  },
  methods: {
    getColor(bet) {
        if(bet > 25000) return '#f1da68';
        if(bet > 15000) return '#f8a058';
        if(bet > 10000) return '#e65e48';
        if(bet > 5000) return '#a592c5';
        
        return '#4f7179';
    },
    getLastWins() {
        axios.get('http://localhost:3000/slots/last_wins').then( (ans) => {
            if(ans.data.success) {
                this.last_wins = ans.data.last_wins;
            }
        });
    },
    increment () {
      if(this.betValue + 50 <= 2000)
        this.betValue = parseInt(this.betValue,10) + 50;
    },
    decrement () {
      if(this.betValue - 50 >= 100)
        this.betValue = parseInt(this.betValue,10) - 50
    },
      drag: function(event) {
          if(this.waiting) return;
          this.stickY = event.y;
      },
      dragHandler: function(event) {
          if(this.waiting) return;

          if((this.rotate + event.y - this.stickY) >= endRotate) {
              this.rotate = endRotate;              
              this.send();
              // TO DO: Fire a function which will run the machine
              return;
          }

          if((this.rotate + event.y - this.stickY) <= startRotate) {
              this.rotate = startRotate;
              return;
          }
          this.rotate += event.y - this.stickY;
      },
      send: function() {
          if(this.waiting) {
              this.$notify({
                            group: 'foo',
                            text: 'Please Wait..',
                            type: 'warn'
            });
            return;
          }
        
        this.last_bet = new Date();

          this.waiting = true;

        const headers = {
        'Content-Type': 'application/json',
        'Authorization': this.$store.state.token
        }

          axios.post('http://localhost:3000/slots/submit',{ bet: this.betValue }, { headers: headers }).then(ans => {
              console.log(ans);
              this.rotate = startRotate;
              if(ans.data.success) {
                  this.first = ans.data.data.first;
                  this.second = ans.data.data.second;
                  this.third = ans.data.data.third;
                  
                  this.won = ans.data.added;
                  this.win = ans.data.win;
                  this.submitedBet = ans.data.bet;
                  this.last_wins = ans.data.last_wins;

                  this.$store.commit('setCoins', ans.data.coins);
              }else {
                  if(ans.data.login) {
                      this.$store.commit('setToken', '');
                      router.push({name: 'Login',  query: { loggedIn: false }});
                      //Redirect
                  }else {
                    this.$notify({
                            group: 'foo',
                            text: ans.data.message,
                            type: 'error'
                    });
                                
                  }
              }

              setTimeout(() => { this.waiting = false; }, 0);
          });
                  
      },
  },
  computed: {
    almostWon() {
        if(this.first == this.second || this.first == this.third) 
            return this.submitedBet * (this.first+1) * 30;
        if(this.second == this.third)
            return this.submitedBet * (this.second+1) * 30;

        return -1
    }
  },
  data() {
    return {
        betValue: 100,
        submitedBet: 0,
        items: [1, 2, 3, 4, 5, 6, 7, 8, 9],
        first: 1,
        second: 1,
        third: 1,
        stickY: 0,
        rotate: startRotate,
        waiting: false,

        won: 0,
        win: true,


        last_wins: [],
        last_bet: null,
    };
  }
}
</script>

<style scoped>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.last-winners-details {
    width: 140px; height: 30px; margin-top: -10px;padding-top: 9px; color: white; margin-bottom: -20px;
    margin-top: -10px;
    background-color: #21242e;
    border-radius: 50px;
}
#change-bet {
    width: 380px;
    height: 60px;
    background-color: #21242e;
    border-radius: 15px;
    margin-top: 20px;
    text-align: left;
    color: white;
    display: flex;
}

.circle {
    border:1.5px solid;    
    height:50px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:50px;
    margin-right: 15px;
}

.last-winners {
    background-color: #21242e;
    border-radius: 50px;
    margin-top: 20px
}

.special-text-color {
    color: #f8a058;
}
#slots-explination {
    width: 175px;
    margin-bottom: 20px;
}

.slot-e {
    border: solid;
    border-width: 1px;
    border-color: #f1da68;
    width: 51px;
    padding: 10px;
    height: 51px;
    overflow-y: hidden;
}

.item-e {
    width: 100%;
    font-size: 23px;
    font-weight: bold;
    margin-top:20px;
    color: #f1da68 !important;
}

.slide-fade-enter-active {
  transition: all 2s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(30px);
  opacity: 0;
}

#stick {
    margin-left: 212px;
    margin-top: 55px;
    position: absolute;
    cursor: all-scroll;
}
.item {
    width: 100%;
    height:  50px;  
    font-size: 72px;
    color: #9080a8 !important;
}
#slots {
    margin-top: 5vh;
    width: 500px;
}

.slot {
    margin-right: 10px;
    border: solid;
    border-width: 2px;
    border-color: #75678a;
    border-radius: 5px;
    width: 100px;
    height: 90px;
    overflow-y: hidden;
}

</style>
