<template>
 
</template>

<script>
import axios from 'axios';
import router from '../router/index';

export default {
    name: 'Menu',
  data () {
    return {
      windowWidth: window.innerWidth,
    }
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth
    }
  },
  beforeDestroy() { 
    window.removeEventListener('resize', this.onResize); 
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    });
    
    const headers = {
        'Content-Type': 'application/json',
        'Authorization': this.$store.state.token
        }

    axios.post('http://localhost:3000/users/getCoins', {},  { headers: headers }).then( (ans) => {
      console.log(ans);
        if(ans.data.success) {
            this.$store.commit('setCoins', ans.data.coins);
        }else {
          if(ans.data.login) {
              this.$store.commit('setToken', '');
              router.push({name: 'Login',  query: { loggedIn: false }});
          }else {
            this.$notify({
                    group: 'foo',
                    text: ans.data.message,
                    type: 'error'
            });
                        
          }
        }
    });
  },
  computed: {
    coins() {
        return this.$store.state.coins;
    },
    username() {
      return this.$store.state.username;
    },
    avatar() {
      return this.$store.state.avatar;
    }
  }
}
</script>

<style scoped>

.path-wrapper {
  display: inline-flex;
}
.path {
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  position: absolute;
  left: 110px;
  margin-top: 1px;
  padding-bottom: 12px;
}
.path:before {
  position: absolute;
  background: linear-gradient(to right, white 50%, #949494 50%);
  height: 2px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}

.icon {
  position: absolute; left: 45px;
  width: 30px;
}
#top-menu {
  padding-top: 30px;
  background-color:#1d1522;
  height: 250px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.logo {
  background-color: #2c2033;
  padding: 10px;
  border-radius: 20px;
}

#bottom-info {
  position: fixed;
  bottom: 20px;
  color: gray;
}

#nav {
  display: inline-block;
  height: 100%;
}

#nav a {
  font-weight: bold;
  color: gray;

  padding: 32px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

#nav a.router-link-exact-active .path-wrapper .path{
  color: #fc9a1c !important;
}

#nav a.router-link-exact-active .path-wrapper .path:before {
  position: absolute;
  background: linear-gradient(to right, #fc9a1c 50%, #bf8030 50%);
  height: 2px;
  content: '';
  bottom: 0;
  right: 0;
  left: 0;
}

#coins-holder {
  padding: 5px;
  width: 120px;
  height: 30px;
  background-color: #54475f;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}

#username {
  margin-top: 15px;
}
#holder {
  position: fixed; width: 15%; height: 100%; float: left; background-color: #1d1522; min-width: 250px;
  color: white;
}
#user-img {
  border: solid 5px #fc9a1c;
  width: 85px;
  border-radius: 50%;
}
</style>