<template>
  <div id="app">
    <notifications classes="my-style" position="top right" group="foo" />
    <router-view/>
  </div>
</template>

<script>

export default {
  components: {
    
  },
}
</script>

<style lang="scss">
html {
  background-color: #140e18;
  color:white;
}
.my-style {
  padding: 10px;
  margin: 0 5px 5px;
  margin-top: 15px;
  font-size: 12px;
 
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
  border-radius: 25px;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }
 
  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
 
  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
  
}


</style>
